.header {
    display: flex;
    flex-direction: row;
    background-color: lightgray;
}

.right {
    align-self: center;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
}

.title {
    cursor: pointer;
    margin-left: 30px;
    align-self: center;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flag {
    cursor: pointer;
    width: 30px;
    height: 21px;
    margin: 5px 5px 5px 5px !important;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}